section.sec2(setBackground="./img/index/bg-sec2.png")#index_1
	.container
		h2.title-block Lĩnh vực hoạt động
		.item-sec2
			.row
				.col-12.col-md-6.col-lg-4.col-xl-3
					.box
						.img-box
							a(href="javascript:;")
								img(src="./img/index/sec2-1.png", alt="").lazyload
						.content-box
							img(src='./img/index/box-test.png' alt='')
						.content-box-hvr
							img(src='./img/index/hover-box.png' alt='')
						.text-inbox
							a(href='javascript:;') Sản xuất thiết bị công nghiệp hỗ trợ sản xuất
				.col-12.col-md-6.col-lg-4.col-xl-3
					.box
						.img-box
							a(href="javascript:;")
								img(src="./img/index/sec2-1.png", alt="").lazyload
						.content-box
							img(src='./img/index/box-test.png' alt='')
						.content-box-hvr
							img(src='./img/index/hover-box.png' alt='')
						.text-inbox
							a(href='javascript:;') Sản xuất thiết bị công nghiệp hỗ trợ sản xuất
				.col-12.col-md-6.col-lg-4.col-xl-3
					.box
						.img-box
							a(href="javascript:;")
								img(src="./img/index/sec2-1.png", alt="").lazyload
						.content-box
							img(src='./img/index/box-test.png' alt='')
						.content-box-hvr
							img(src='./img/index/hover-box.png' alt='')
						.text-inbox
							a(href='javascript:;') Sản xuất thiết bị công nghiệp hỗ trợ sản xuất
				.col-12.col-md-6.col-lg-4.col-xl-3
					.box
						.img-box
							a(href="javascript:;")
								img(src="./img/index/sec2-1.png", alt="").lazyload
						.content-box
							img(src='./img/index/box-test.png' alt='')
						.content-box-hvr
							img(src='./img/index/hover-box.png' alt='')
						.text-inbox
							a(href='javascript:;') Sản xuất thiết bị công nghiệp hỗ trợ sản xuất