footer
	.footer-top
		.container
			.foot-main
				.row
					.col-12.col-sm-6.col-md-4.col-xl-3
						.foot-info
							.title-foot Công ty TNHH SX TM DV Huỳnh Đức 
							.content
								p
									b Xưởng 1 :
									| 177C, An Hòa - Hóa An - Biên Hòa - Đồng Nai 
								p
									b Xưởng 2 :
									| 177C, An Hòa - Hóa An - Biên Hòa - Đồng Nai 
							.content
								p 
									b Website: 
									| www.huynhduc.vn
								p 
									b Phone: 
									| 0618 856696 - 0618 856697
								p 
									b Fax: 
									| 0618 856698
								p 
									b Email: 
									| huynhducdona@huynhduc.vn
							.links
								.ic-links
									a(href="")
										em.mdi.mdi-facebook-box
								.ic-links
									a(href="")
										em.mdi.mdi-instagram
								.ic-links
									a(href="")
										em.mdi.mdi-youtube
					.col-12.col-sm-6.col-md-4.col-xl-3
						.foot-info
							.title-foot Giới thiệu
							.content
								p Tổng quan
								p Cơ sở vật chất
								p Nguồn nhân lực
								p Sản phẩm chủ đạo
								p Khách hàng tiêu biểu
					.col-12.col-sm-6.col-md-4.col-xl-3
						.foot-info
							.title-foot Lĩnh vực hoạt động
							.content
								p Sản xuất thiết bị công nghiệp	hỗ trợ sản xuất
								p Cơ khí chính xác
								p Sản xuất và lắp ráp thiết bị tự động hóa
								p Thiết kế, gia công chế tạo má và khuôn mẫu
					.col-12.col-sm-6.col-md-4.col-xl-3
						.foot-info
							.title-foot Sản phẩm
							.content
								p Sản xuất, gia công các thiết bị hỗ trợ sản xuất
								p Cơ khí chính xác
								p Sản xuất, lắp ráp, thiết bị tự động hoá
								p Hoạt động khác
	.footer-bottom
		.copyright
			p Copyright © 2020 Công ty TNHH SX TM DV Huỳnh Đức. All Rights Reserved. Thiết kế website bởi Cánh Cam.
				a(href="") Chính sách bảo mật | Điều khoản sử dụng | Sơ đồ trang web