header
	.header-top
		.container
			.wrap
				.wrap-left
					ul.menu-items-left
						li
							a(href="#index_1") Giới thiệu
						li
							a(href="") Lĩnh vực hoạt động
						li
							a(href="") Sản phẩm
						li
							a(href="") Tin tức
				.wrap-center
					.logo
						a(href="")
							img(src="./img/header/logo.png", alt="")
				.wrap-right
					ul.menu-items-right
						li
							a(href="") Tuyển dụng
						li
							a(href="") Liên hệ
					.search-wrapper
						.searchbox.btn(onclick='openSearch()')
							em.mdi.mdi-magnify
						#myOverlay.overlay
							span.closebtn(onclick='closeSearch()' title='Close Overlay') ×
							.overlay-content
								input(type='text' placeholder='Search..')
								button(type='submit')
									em.mdi.mdi-magnify
					.language-wrapper
						.language
							a(href="javascript:;")
								span VN
								em.mdi.mdi-chevron-down
							p |
					.hotline-wrapper
						.hotline
							.right-img
								img(src="./img/header/icon-call.png", alt="")
							p Hotline : &nbsp
							a(href="tel:+0618 856696") 0618 856696	
				.hamb
					span.spanf
						i
					span.spans
						i
					span.spant
						i
			.mobile-wrapper
	.header-bottom
		.container
			.wrap
				.wrap-left
					ul.menu-items-left
						li
							a(href="#index_1") Giới thiệu
						li
							a(href="") Lĩnh vực hoạt động
						li
							a(href="") Sản phẩm
						li
							a(href="") Tin tức
				.wrap-center
					.logo
						a(href="")
							img(src="./img/header/logo.png", alt="")
				.wrap-right
					ul.menu-items-right
						li
							a(href="") Tuyển dụng
						li
							a(href="") Liên hệ
					.search-wrapper
						.searchbox
							em.mdi.mdi-magnify
					.language-wrapper
						.language
							a(href="javascript:;")
								span VN
								em.mdi.mdi-chevron-down
							p |
					.hotline-wrapper
						.hotline
							.right-img
								img(src="./img/header/icon-call.png", alt="")
							p Hotline : &nbsp
							a(href="tel:+0618 856696") 0618 856696	

