section.sec7
	.container
		.create-form
			.row
				.col-6
				.col-12.col-lg-6
					h2.title-block Đăng ký tư vấn
					.wrap-form
						label Quý khách vui lòng để lại thông tin, chúng tôi sẽ sớm liên hệ lại.
						.row
							.col-12.col-lg-6.form-group
								input(type="text" placeholder="Họ tên") 
							.col-12.col-lg-6.form-group
								input(type="text" placeholder="Điện thoại") 
							.col-12.form-group
								input(type="text" placeholder="Email") 
						.frm-btn-wrap
							.frm-btn
								input(type='submit' value='ĐĂNG KÝ')