section.sec1
	.container
			h2.title-block Về chúng tôi
			.bg-sec1(setBackground="./img/index/sec1.png")
				.description
					p 
						b Công ty TNHH SX TM DV Huỳnh Đức 
						| được thành lập năm 1995, trải qua thời gian hoạt động đã từng bước khẳng định vị trí của mình ở thị trường Đồng Nai, Bình Dương, TP HCM, Hà Nội, Đà Nẵng và các tỉnh lân cận. Với kinh nghiệm gần 20 năm phát triển, cùng với cơ sở vật chất hiện đại, nguồn nhân lực chất lượng cao, chúng tôi cam kết luôn đem đến cho quí khách hàng những sản phẩm chất lượng, giá cả cạnh tranh.
				.btn-box
					a(href="").btn-seemore 
						span Xem thêm
