section.sec3
	h2.title-block Sản phẩm
	.tab
		.tab-item
			a(href='javascript:;') Sản xuất, gia công các thiết bị hỗ trợ sản xuất
		.tab-item
			a(href='javascript:;') Cơ khí chính xác
		.tab-item
			a(href='javascript:;') Sản xuất, lắp ráp, thiết bị tự động hoá
		.tab-item
			a(href='javascript:;')  Hoạt động khác
	.wrap-product
		.row
			-for(i=0;i<8;i++)
				.col-12.col-sm-6.col-lg-4.col-xl-3
					a(href="")
						.box-pd
							.img-pd
								img(src="./img/index/pd-2.png", alt="")
							.title-pd
								a(href="") Băng tải
								p Sản xuất, gia công các thiết bị hỗ trợ sản xuất uy tín hàng đầu Việt Nam
							.btn-box
								a(href="").btn-seemore 
									span Xem thêm
