section.sec6s
	h2.title-block Tin tức
	.container
		.items-i6
			.row
				.col-12.col-lg-6
					.left
						.col-12.col-lg-6
							.items-left
								.img
									a(href="")
										img(src='./img/index/news.png' alt='')
						.col-12.col-lg-6
							.content-left
								time 02/10/2020
								a(href="") Hội doanh nhân trẻ và câu lạc bộ hỗ trợ người khuyết tật tỉnh Đồng Nai
								p Đại diện hội doanh nhân trẻ và câu lạc bộ hỗ trợ người khuyết tật tỉnh Đồng Nai đã có chuyến viếng thăm, trao thư cảm ơn và quà lưu niệm...
								.btn-box
									a(href="").btn-seemore-blue
										span Xem thêm
				.col-12.col-lg-6
					.right
						.row
							.col-12.col-md-6
								.item-ri
									.img-item-ri
										a(href="")
											img(src="./img/index/news-1.png", alt="")
									.content-right
										.test
											time 02/10/2020
											a(href="") Huỳnh Đức đầu tư thêm máy cắt laser SHIBUYA SPL 3703
							.col-12.col-md-6
								.item-ri
									.img-item-ri
										a(href="")
											img(src="./img/index/news-1.png", alt="")
									.content-right
										.test
											time 02/10/2020
											a(href="") Huỳnh Đức đầu tư thêm máy cắt laser SHIBUYA SPL 3703
