section.sec6
	h2.title-block Tin tức
	.container
		.slide-news
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.row
							.col-12.col-xl-6
								.news-left
									.img-left
										a(href="")
											img(src="./img/index/news.png", alt="").lazyload
									.content-left
										date 02/10/2020
										a(href="") Hội doanh nhân trẻ và câu lạc bộ hỗ trợ người khuyết tật tỉnh Đồng Nai
										p Đại diện hội doanh nhân trẻ và câu lạc bộ hỗ trợ người khuyết tật tỉnh Đồng Nai đã có chuyến viếng thăm, trao thư cảm ơn và quà lưu niệm...
										.btn-box
											a(href="").btn-seemore-color
												span Xem thêm
							.col-12.col-xl-6
								.news-right
									.row
										.col-12.col-md-6
											.news-small
												.img-small
													a(href="")
														img(src="./img/index/news-1.png", alt="").lazyload
												.content-small
													date 02/10/2020
													a(href="") Huỳnh Đức đầu tư thêm máy cắt laser SHIBUYA SPL
										.col-12.col-md-6
											.news-small
												.img-small
													a(href="")
														img(src="./img/index/news-1.png", alt="").lazyload
												.content-small
													date 02/10/2020
													a(href="") Huỳnh Đức đầu tư thêm máy 
			.icon-button
				.swiper-button-next
				.swiper-button-prev
		.btn-box
			a(href="").btn-seemore 
				span Xem thêm