section.sec5
	h2.title-block Đối tác
	.container
		.content-sec5
			.row
				.col-12.col-lg-6
					.text-content
						a(href="") Tự hào là nhà cung cấp các thiết bị hỗ trợ sản xuất đáng tin cậy
						p Trải qua quá trình hình thành và phát triển gần 20 năm, hiện nay Huỳnh Đức tự hào là nhà cung cấp của công ty NISSHIN SEIFUN, công ty NIDEC quận 7, công ty ON SEMICONDUCTOR, công ty MABUCHI Đồng nai, công ty NOK, công ty BOSCH, công ty CP, công ty MARIGOT... Ngoài ra, chúng tôi hiện đang là nhà cung cấp thiết bị hỗ trợ công nghiệp cho công ty NIDEC SEVOR, NIDEC COPAL, NIDEC VIÊT NAM, NIDEC SANKYO...
					.btn-box
						a(href="").btn-seemore 
							span Xem thêm
				.col-12.col-lg-6
					.image-content
						.row
							-for(i=0;i<9;i++)
								.col-12.col-md-4
									a(href="")
										.logo-brand
												img(src="./img/index/ic-mabu.png")