section.banner
	.banner-wrapper
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrap-banner
						img(data-src="./img/banner/bn.png", alt="").lazyload
						.icon-down
							a(href="#index_1")
								img(src='./img/index/ic-down.png' alt='')
						.title-banner
							p Huỳnh Đức - Sản xuất, gia công các thiết bị hỗ trợ sản xuất uy tín hàng đầu Việt Nam
				.swiper-slide
					.wrap-banner
						img(data-src="./img/banner/bn.png", alt="").lazyload
						.icon-down
							a(href="#index_1")
								img(src='./img/index/ic-down.png' alt='')
						.title-banner
							p Huỳnh Đức - Sản xuất, gia công các thiết bị hỗ trợ sản xuất uy tín hàng đầu Việt Nam
			.icon-button
				.swiper-button-next
				.swiper-button-prev